<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_ID">
	<display-name>nepbid</display-name>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	
	
	<!-- Define an error page--> 
  <error-page>
    <error-code>500</error-code>
    <location>/errorHandler</location>
</error-page>

  <error-page>
    <error-code>405</error-code>
    <location>/errorHandler</location>
</error-page>

<error-page>
    <error-code>404</error-code>
    <location>/errorHandler</location>
</error-page>




<!-- Set the session timeout in minutes (e.g., 30 minutes) -->
<session-config>
    <session-timeout>30</session-timeout>
</session-config>

<!-- Define an error page for session timeout -->
<error-page>
    <error-code>408</error-code>
    <location>/sessionTimeoutError.jsp</location>
</error-page>

<!-- Define an error page for other errors -->
<error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errorHandler.jsp</location>
</error-page>
	
 <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>com.biddingsystem.servlet.TransactionServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>
    
  
  
  <servlet>
  <servlet-name>RegBidder</servlet-name>
  <servlet-class>com.biddingsystem.servlet.RegBidder</servlet-class>
  </servlet>
    
    <servlet-mapping>
    <servlet-name>RegBidder</servlet-name>
    <url-pattern>/RegBid</url-pattern>
    </servlet-mapping>
    
    
   <servlet>
          <servlet-name>Addnewproduct</servlet-name>
          <servlet-class>com.biddingsystem.servlet.Addnewproduct</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>Addnewproduct</servlet-name>
                <url-pattern>/Addproduct</url-pattern>
    </servlet-mapping>
    
      
    
       <servlet>
          <servlet-name>LoginServer</servlet-name>
          <servlet-class>com.biddingsystem.servlet.LoginServer</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>LoginServer</servlet-name>
                <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
      <servlet>
          <servlet-name>AdminRegistration</servlet-name>
          <servlet-class>com.biddingsystem.servlet.AdminRegistration</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>AdminRegistration</servlet-name>
                <url-pattern>/AdminReg</url-pattern>
    </servlet-mapping>
    
    <servlet>
          <servlet-name>UpdateAdmin</servlet-name>
          <servlet-class>com.biddingsystem.servlet.UpdateAdmin</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>UpdateAdmin</servlet-name>
                <url-pattern>/update</url-pattern>
    </servlet-mapping>
    
    <servlet>
          <servlet-name>Bids</servlet-name>
          <servlet-class>com.biddingsystem.servlet.Bids</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>Bids</servlet-name>
                <url-pattern>/bidp</url-pattern>
    </servlet-mapping>
 
 
     <servlet>
          <servlet-name>allotment</servlet-name>
          <servlet-class>com.biddingsystem.servlet.allotment</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>allotment</servlet-name>
                <url-pattern>/allot</url-pattern>
    </servlet-mapping>
    
      <servlet>
          <servlet-name>NotAlloted</servlet-name>
          <servlet-class>com.biddingsystem.servlet.NotAlloted</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>NotAlloted</servlet-name>
                <url-pattern>/noallot</url-pattern>
    </servlet-mapping>
    
    
        <servlet>
          <servlet-name>LogoutPage</servlet-name>
          <servlet-class>com.biddingsystem.servlet.LogoutPage</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>LogoutPage</servlet-name>
                <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
     <servlet>
          <servlet-name>SearchServlet</servlet-name>
          <servlet-class>com.biddingsystem.servlet.SearchServlet</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>SearchServlet</servlet-name>
                <url-pattern>/Search</url-pattern>
    </servlet-mapping>
  
 
</web-app>
