<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_ID">
	<display-name>nepbid</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	

 <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>com.biddingsystem.servlet.TransactionServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>Adminservlet</servlet-name>
    <servlet-class>com.biddingsystem.servlet.Adminservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminservlet</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>RegBidder</servlet-name>
  <servlet-class>com.biddingsystem.servlet.RegBidder</servlet-class>
  </servlet>
    
    <servlet-mapping>
    <servlet-name>RegBidder</servlet-name>
    <url-pattern>/RegBid</url-pattern>
    </servlet-mapping>
    
    
   <servlet>
          <servlet-name>Addnewproduct</servlet-name>
          <servlet-class>com.biddingsystem.servlet.Addnewproduct</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>Addnewproduct</servlet-name>
                <url-pattern>/Addproduct</url-pattern>
    </servlet-mapping>
    
      <servlet>
          <servlet-name>BidderLogin</servlet-name>
          <servlet-class>com.biddingsystem.servlet.BidderLogin</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>BidderLogin</servlet-name>
                <url-pattern>/bidder</url-pattern>
    </servlet-mapping>
    
       <servlet>
          <servlet-name>sellerLogin</servlet-name>
          <servlet-class>com.biddingsystem.servlet.sellerLogin</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>sellerLogin</servlet-name>
                <url-pattern>/seller</url-pattern>
    </servlet-mapping>
    
      <servlet>
          <servlet-name>AdminRegistration</servlet-name>
          <servlet-class>com.biddingsystem.servlet.AdminRegistration</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>AdminRegistration</servlet-name>
                <url-pattern>/AdminReg</url-pattern>
    </servlet-mapping>
    
    <servlet>
          <servlet-name>UpdateAdmin</servlet-name>
          <servlet-class>com.biddingsystem.servlet.UpdateAdmin</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>UpdateAdmin</servlet-name>
                <url-pattern>/update</url-pattern>
    </servlet-mapping>
    
    <servlet>
          <servlet-name>Bids</servlet-name>
          <servlet-class>com.biddingsystem.servlet.Bids</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>Bids</servlet-name>
                <url-pattern>/bidp</url-pattern>
    </servlet-mapping>
 
 
     <servlet>
          <servlet-name>allotment</servlet-name>
          <servlet-class>com.biddingsystem.servlet.allotment</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>allotment</servlet-name>
                <url-pattern>/allot</url-pattern>
    </servlet-mapping>
    
      <servlet>
          <servlet-name>NotAlloted</servlet-name>
          <servlet-class>com.biddingsystem.servlet.NotAlloted</servlet-class>
  </servlet>
    
    <servlet-mapping>
                <servlet-name>NotAlloted</servlet-name>
                <url-pattern>/noallot</url-pattern>
    </servlet-mapping>
 
 
</web-app>
